@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&family=Rakkas&display=swap');


/* Main container and layout */
.admin-container {
  margin-top: 10%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  
}
.admin-container h2{
  margin-top: 10%;
  font-family: 'Marhey';
  font-weight: 700;
  text-align: center;
  font-size: 2.5rem;
  color: #0d5003;
}

.admin-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.admin-nav button {
  padding: 10px;
  background-color: #0d5003;
  color: white;
  border: none;
  cursor: pointer;
}

.logout-btn {
  margin-right: 90%;
  margin-bottom: 3%;
  background-color: #f02d01da;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-bottom: black solid 2px;
}
.logout-btn:hover {
  background-color: red
}

/* Section Styling */
section {
  margin-bottom: 40px;
}

h2, h3, h4 {
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #0d5003;
  color: white;
  border: none;
  cursor: pointer;
  max-width: 250px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .admin-nav {
    flex-direction: column;
    align-items: center;
  }

  .admin-nav button {
    width: 100%;
    margin-bottom: 10px;
  }

  .logout-btn {
    width: 100%;
  }

  section {
    padding: 10px;
  }
}
