@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&family=Rakkas&display=swap');

.footer {
  max-width: 1800px;
  font-family: 'Marhey';
  background-color: #0d5003;
  text-align: center;
  padding: 120px;
  margin-top: 40px;
  font-size: 1.5rem;
  border-radius: 0 0 25px 25px;
  direction: ltr; /* Ensure the text is aligned from left to right */
}

.footer p {
  color: white;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .footer {
    font-size: 1rem;
  }
}
