@import url('https://fonts.googleapis.com/css2?family=Winky+Sans&family=Noto+Sans+Arabic&display=swap');

.hero {
    font-family: "Winky Sans", "Noto Sans Arabic", sans-serif;
    position: relative;
    width: 100%;
    height: 100vh; /* Full screen */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-bottom: -15%;
  }
  
  /* Video Background */
  .hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    z-index: -1;
  }
  .hero h2 {
    color: #0d5003;
  }
  
  /* Navbar */
  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: rgba(0, 0, 0, 0.3); /* Slight transparency */
    z-index: 2;
  }
  
  /* Logo */
  .logo img {
    padding-left: 50%;
    height: 90px;
    width: auto;
    padding-top: 10%;
  }
  
  /* Navigation Links */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    padding-right: 5%;
  }
  
  .nav-links a {
    color:  #0d5003;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .nav-links a:hover {
    font-size: 1.55rem;
    transition: 0.5s;
    color: white;
    
  }
  
  /* Menu Icon (☰ and ✖) */
  .menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
  }
  
  /* Responsive Menu for Tablet and Phone */
  @media (max-width: 768px) {
    .hero{        
    margin-bottom: -60%;
    }

    .menu-icon {
      display: block;
      position: relative;
      z-index: 2;
      padding-right: 10%;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      top: 85%;
      left: 0;
      width: 100%;
      text-align: center;
      padding: 15px 0;
    }
  
    .nav-links.open {
      display: flex;
    }
  
  }
  
  /* Hero Content */
  .hero-content {
    position: relative;
    z-index: 1;
    max-width: 800px;
    padding: 20px;
  }
  
  .hero h2 {
    font-size: 3rem;
  }
  
  .hero p {
    margin-top: 10px;
    font-size: 1.5rem;
  }
  
  .hero button {
    margin-top: 15px;
    padding: 12px 25px;
    font-size: 1.2rem;
    background-color:  #0d5003;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .hero button:hover {
    background-color: #0056b3;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .hero h2 {
      font-size: 2rem;
    }
  
    .hero p {
      font-size: 0.8rem;
    }
  
    .hero button {
      font-size: 1rem;
    }
  }
  