/* src/styles/search.css */

/* Search Bar Styling */
.search-bar {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
  }
  
  .search-bar input {
    padding: 10px;
    font-size: 1rem;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .search-bar button {
    padding: 10px;
    font-size: 1rem;
    background-color: #0d5003;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #094e02;
  }
  
  /* Search Results Styling */
  .search-results {
    text-align: center;
  }
  
  .search-results ul {
    list-style-type: none;
    padding: 0;
  }
  
  .search-results li {
    margin-bottom: 20px;
  }
  
  .search-results h3 {
    font-size: 1.5rem;
    color: #0d5003;
  }
  
  .search-results p {
    font-size: 1rem;
    color: #555;
  }
  