/* Sidebar (Social Media Icons) */
.social-sidebar {
    position: fixed;
    top: 20%;
    right: 0.5%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 3;
    padding: 15px;
    border-radius: 8px 0 0 8px;
  }
  
  .social-sidebar a {
    color: #0d5003;
    font-size: 2rem;
    transition: color 0.3s ease;
  }
  
  .social-sidebar a:hover {
    color: white;
    font-size: 2.1rem;
    transition: 2s;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .social-sidebar {
      top: 15%;
      right: 10px;
      gap: 10px;
    }
  
    .social-sidebar a {
      font-size: 1.8rem;
    }
  }
  